In [1]:
import pandas as pd
from google.cloud import bigquery
import os
from pymongo import MongoClient
from pandas import DataFrame

In [2]:
## resgitamos en las variables de entorno la clave de acceso a GCP
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="D:/Datapath/focus-ensign-285500-f92724b743a9.json"

In [3]:
def get_connect_mongo():

    CONNECTION_STRING ="mongodb+srv://atlas:T6.HYX68T8Wr6nT@cluster0.enioytp.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)

    return client

# Ingestar desde MongoDB

## Ingestar desde orders

In [4]:
client = bigquery.Client()
query_string = """
drop table if exists `focus-ensign-285500.dep_raw.orders` ;
"""
query_job = client.query(query_string)
rows = list(query_job.result())
print(rows)

[]

In [5]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["orders"] 
orders = collection_name.find({})  
orders_df = DataFrame(orders)
dbconnect.close()

In [6]:
def transform_date(text):
    text = str(text)
    d = text[0:10]
    return d

In [7]:
orders_df['_id'] = orders_df['_id'].astype(str)

In [8]:
orders_df['order_date']  = orders_df['order_date'].map(transform_date)
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'], format='%Y-%m-%d').dt.date

In [9]:
orders_rows=len(orders_df)
if orders_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.orders"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_status", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        orders_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla orders')

Loaded 68883 rows and 5 columns to focus-ensign-285500.dep_raw.orders

## Ingestar desde order_items

In [10]:
client = bigquery.Client()
query_string = """
drop table if exists `focus-ensign-285500.dep_raw.order_items` ;
"""
query_job = client.query(query_string)
rows = list(query_job.result())
print(rows)

[]

In [11]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["order_items"] 
order_items = collection_name.find({})  
order_items_df = DataFrame(order_items)
dbconnect.close()

In [12]:
order_items_df['_id'] = order_items_df['_id'].astype(str)

In [13]:
def transform_date(text):
    text = str(text)
    d = text[0:10]
    return d

In [14]:
order_items_df['order_date']  = order_items_df['order_date'].map(transform_date)
order_items_df['order_date'] = pd.to_datetime(order_items_df['order_date'], format='%Y-%m-%d').dt.date
order_items_df

,_id,order_date,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,65ab604f817976f89cb511c1,2023-07-25,1,1,957,1,299.98,299.98
1,65ab604f817976f89cb511c2,2023-07-25,2,2,1073,1,199.99,199.99
2,65ab604f817976f89cb511c3,2023-07-25,3,2,502,5,250.00,50.00
3,65ab604f817976f89cb511c4,2023-07-25,4,2,403,1,129.99,129.99
4,65ab604f817976f89cb511c5,2023-07-25,5,4,897,2,49.98,24.99
...,...,...,...,...,...,...,...,...
172193,65ab6051817976f89cb7b262,2024-07-19,172194,68881,403,1,129.99,129.99
172194,65ab6051817976f89cb7b263,2024-07-22,172195,68882,365,1,59.99,59.99
172195,65ab6051817976f89cb7b264,2024-07-22,172196,68882,502,1,50.00,50.00
172196,65ab6051817976f89cb7b265,2024-07-23,172197,68883,208,1,1999.99,1999.99
172197,65ab6051817976f89cb7b266,2024-07-23,172198,68883,502,3,150.00,50.00

In [15]:
order_items_rows=len(order_items_df)
if order_items_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.order_items"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_item_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_quantity", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_subtotal", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_item_product_price", bigquery.enums.SqlTypeNames.FLOAT),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        order_items_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla order_items')

Loaded 172198 rows and 8 columns to focus-ensign-285500.dep_raw.order_items

## Ingestar  Products

In [16]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["products"] 
products = collection_name.find({})
products_df = DataFrame(products)
dbconnect.close()

In [17]:
products_df['_id'] = products_df['_id'].astype(str)
products_df['product_description'] = products_df['product_description'].astype(str)

In [18]:
products_rows=len(products_df)
if products_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.products"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("product_category_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("product_name", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_description", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_price", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("product_image", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        products_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla productos')

Loaded 1345 rows and 7 columns to focus-ensign-285500.dep_raw.products

## Ingestar Customers

In [19]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["customers"] 

# customers = collection_name.find({},{"_id":1,"customer_id":1})  filtrar columna
customers = collection_name.find({})
customers_df = DataFrame(customers)
dbconnect.close()

In [20]:
customers_df['_id'] = customers_df['_id'].astype(str)

In [21]:
customers_rows=len(customers_df)
if customers_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.customers"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("customer_fname", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_lname", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_email", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_password", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_street", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_city", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_state", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_zipcode", bigquery.enums.SqlTypeNames.INTEGER),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        customers_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla customers')

Loaded 12435 rows and 10 columns to focus-ensign-285500.dep_raw.customers

## Ingestar Categories

In [22]:
categories_df = pd.read_csv('./data/categories', sep="|",header=None, names= ["category_id","category_department_id","category_name"])

In [23]:
categories_rows=len(categories_df)
if categories_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.categories"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("category_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("category_department_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("category_name", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        categories_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla categories')

Loaded 58 rows and 3 columns to focus-ensign-285500.dep_raw.categories

In [24]:
departments_df = pd.read_csv('./data/departments', sep="|",header=None, names= ["department_id","department_name"])

In [25]:
departments_rows=len(departments_df)
if departments_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.departments"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("department_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("department_name", bigquery.enums.SqlTypeNames.STRING)
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        departments_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla departments')

Loaded 6 rows and 2 columns to focus-ensign-285500.dep_raw.departments

## Capa Master

In [26]:
client = bigquery.Client()
sql = """
    SELECT *
    FROM `focus-ensign-285500.dep_raw.order_items`
"""

In [27]:
m_order_items_df = client.query(sql).to_dataframe()

In [28]:
client = bigquery.Client()
sql_2 = """
    SELECT *
    FROM `focus-ensign-285500.dep_raw.orders`
"""

In [29]:
m_orders_df = client.query(sql_2).to_dataframe()

In [30]:
df_join = m_orders_df.merge(m_order_items_df, left_on='order_id', right_on='order_item_order_id', how='inner')

In [31]:
df_master=df_join[[ 'order_id', 'order_date_x', 'order_customer_id',
       'order_status',  'order_item_id',
       'order_item_order_id', 'order_item_product_id', 'order_item_quantity',
       'order_item_subtotal', 'order_item_product_price']]

In [32]:
df_master=df_master.rename(columns={"order_date_x":"order_date"})

In [33]:

def get_group_status(text):
    text = str(text)
    if text =='CLOSED':
        d='END'
    elif text =='COMPLETE':
        d='END'
    else :
        d='TRANSIT'
    return d

In [34]:
df_master['order_status_group']  = df_master['order_status'].map(get_group_status)

In [35]:
df_master['order_date'] = df_master['order_date'].astype(str)
df_master['order_date'] = pd.to_datetime(df_master['order_date'], format='%Y-%m-%d').dt.date

In [36]:
df_master

,order_id,order_date,order_customer_id,order_status,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price,order_status_group
0,23969,2023-12-21,9970,CLOSED,60005,23969,1004,1,399.98,399.98,END
1,23982,2023-12-21,4232,CLOSED,60037,23982,502,4,200.00,50.00,END
2,23982,2023-12-21,4232,CLOSED,60038,23982,502,3,150.00,50.00,END
3,23992,2023-12-21,11240,CLOSED,60046,23992,1014,4,199.92,49.98,END
4,23992,2023-12-21,11240,CLOSED,60047,23992,1014,4,199.92,49.98,END
...,...,...,...,...,...,...,...,...,...,...,...
172193,61608,2023-12-20,2828,SUSPECTED_FRAUD,154047,61608,365,1,59.99,59.99,TRANSIT
172194,61608,2023-12-20,2828,SUSPECTED_FRAUD,154048,61608,403,1,129.99,129.99,TRANSIT
172195,61611,2023-12-20,124,SUSPECTED_FRAUD,154054,61611,35,1,159.99,159.99,TRANSIT
172196,61611,2023-12-20,124,SUSPECTED_FRAUD,154055,61611,1004,1,399.98,399.98,TRANSIT
172197,61611,2023-12-20,124,SUSPECTED_FRAUD,154056,61611,1014,1,49.98,49.98,TRANSIT

In [37]:
df_master.dtypes

order_id                      Int64
order_date                   object
order_customer_id             Int64
order_status                 object
order_item_id                 Int64
order_item_order_id           Int64
order_item_product_id         Int64
order_item_quantity           Int64
order_item_subtotal         float64
order_item_product_price    float64
order_status_group           object
dtype: object

In [38]:
df_master_rows=len(df_master)
if df_master_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.master_order"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_status", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_item_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_quantity", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_subtotal", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_item_product_price", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_status_group", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        df_master, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla order_items')

Loaded 172198 rows and 11 columns to focus-ensign-285500.dep_raw.master_order

# Tarea

### Crear order_item_subtotal_mn multiplicando el order_item_subtotal por el tipo de cambio y agregarlo a la tabla  , usar la fuente de datos tipo de cambio

In [39]:
#Obtener el valor del cambio
headers_files = {
    'tipocambio':["fecha","compra","venta","nan"]
    }
dwn_url_tipcambio='https://www.sunat.gob.pe/a/txt/tipoCambio.txt'
df = pd.read_csv(dwn_url_tipcambio, names=headers_files['tipocambio'], sep='|')
list_t=df.values.tolist()
valor_cambio=list_t[0][1]

In [40]:
df_master['order_item_subtotal_mn'] = df_master['order_item_subtotal']*valor_cambio
df_master

,order_id,order_date,order_customer_id,order_status,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price,order_status_group,order_item_subtotal_mn
0,23969,2023-12-21,9970,CLOSED,60005,23969,1004,1,399.98,399.98,END,1494.32528
1,23982,2023-12-21,4232,CLOSED,60037,23982,502,4,200.00,50.00,END,747.20000
2,23982,2023-12-21,4232,CLOSED,60038,23982,502,3,150.00,50.00,END,560.40000
3,23992,2023-12-21,11240,CLOSED,60046,23992,1014,4,199.92,49.98,END,746.90112
4,23992,2023-12-21,11240,CLOSED,60047,23992,1014,4,199.92,49.98,END,746.90112
...,...,...,...,...,...,...,...,...,...,...,...,...
172193,61608,2023-12-20,2828,SUSPECTED_FRAUD,154047,61608,365,1,59.99,59.99,TRANSIT,224.12264
172194,61608,2023-12-20,2828,SUSPECTED_FRAUD,154048,61608,403,1,129.99,129.99,TRANSIT,485.64264
172195,61611,2023-12-20,124,SUSPECTED_FRAUD,154054,61611,35,1,159.99,159.99,TRANSIT,597.72264
172196,61611,2023-12-20,124,SUSPECTED_FRAUD,154055,61611,1004,1,399.98,399.98,TRANSIT,1494.32528
172197,61611,2023-12-20,124,SUSPECTED_FRAUD,154056,61611,1014,1,49.98,49.98,TRANSIT,186.72528

In [41]:
#Actualización de la tabla
df_master_rows=len(df_master)
if df_master_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.master_order"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_status", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_item_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_quantity", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_subtotal", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_item_product_price", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_status_group", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_item_subtotal_mn", bigquery.enums.SqlTypeNames.FLOAT),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        df_master, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla order_items')

Loaded 172198 rows and 12 columns to focus-ensign-285500.dep_raw.master_order

### Cargar Tabla  BI con el nuevo campo creado

In [42]:
# Se agrega el campo order_item_subtotal_cambio
client = bigquery.Client()
query_string = """
create or replace table `focus-ensign-285500.dep_raw.bi_orders` as
SELECT 
 order_date,c.category_name ,d.department_name 
 , sum (a.order_item_subtotal) order_item_subtotal
 , sum (a.order_item_quantity) order_item_quantity
 , sum(a.order_item_subtotal_mn) order_item_subtotal_cambio
FROM `focus-ensign-285500.dep_raw.master_order` a
inner join  `focus-ensign-285500.dep_raw.products` b on
a.order_item_product_id=b.product_id
inner join `focus-ensign-285500.dep_raw.categories` c on
b.product_category_id=c.category_id
inner join `focus-ensign-285500.dep_raw.departments` d on
c.category_department_id=d.department_id
group by order_date,c.category_name ,d.department_name
"""
query_job = client.query(query_string)
rows = list(query_job.result())

In [43]:
#Se muestran los datos cargados 
client = bigquery.Client()
sql_data = """
    SELECT *
    FROM `focus-ensign-285500.dep_raw.bi_orders`
"""
df_master_data = client.query(sql_data).to_dataframe()
df_master_data.head(20)

,order_date,category_name,department_name,order_item_subtotal,order_item_quantity,order_item_subtotal_cambio
0,2023-11-08,Cleats,Apparel,12117.98,202,45272.77328
1,2023-09-14,Cleats,Apparel,19736.71,329,73736.34856
2,2024-06-13,Cleats,Apparel,18236.96,304,68133.28256
3,2023-07-25,Cleats,Apparel,7558.74,126,28239.45264
4,2024-01-31,Cleats,Apparel,12357.98,202,46169.41328
5,2024-05-03,Cleats,Apparel,12117.98,202,45272.77328
6,2023-07-29,Cleats,Apparel,18236.96,304,68133.28256
7,2024-06-02,Cleats,Apparel,18236.96,304,68133.28256
8,2024-05-20,Cleats,Apparel,16737.21,279,62530.21656
9,2024-07-04,Cleats,Apparel,9118.48,152,34066.64128
10,2024-03-29,Cleats,Apparel,7798.74,126,29136.09264
11,2024-07-01,Cleats,Apparel,13617.73,227,50875.83928
12,2024-06-29,Cleats,Apparel,6058.99,101,22636.38664
13,2024-07-14,Cleats,Apparel,6058.99,101,22636.38664
14,2023-12-07,Cleats,Apparel,13977.71,229,52220.72456
15,2023-10-08,Cleats,Apparel,15477.46,254,57823.79056
16,2024-01-15,Cleats,Apparel,16977.17,283,63426.70712
17,2024-04-10,Cleats,Apparel,19976.67,333,74632.83912
18,2024-05-05,Cleats,Apparel,10738.21,179,40117.95256
19,2023-10-24,Cleats,Apparel,10738.21,179,40117.95256